.table-alignment {
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;

  .btn-secondary {
    margin-right: 5px;
    margin-bottom: 5px;
  }
}

.add-button-align {
  margin-bottom: 5px;
}
