<div class="table-alignment">
  <button class="btn btn-primary btl-primary-align add-button-align" (click)="addProduct()">Add</button>
  <table class="table table-striped table-bordered">
    <thead>
    <tr>
      <th>Product Id</th>
      <th>Product Name</th>
      <th>Product Description</th>
      <th>Product Price</th>
      <th>Product Quantity</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of products">
      <td>{{product.productId}}</td>
      <td><input type="text" name="productName" [(ngModel)]="product.productName"></td>
      <td><input type="text" name="description" [(ngModel)]="product.description"></td>
      <td>{{product.price}}</td>
      <td>{{product.quantity}}</td>
      <td>
        <button class="btn btn-secondary" (click)="updateProduct(product.productId)">Update</button>
        <button class="btn btn-danger" (click)="deleteProduct(product._id)">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
